

.service{
    border: 2px solid lightgray;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.service img{
  width: 250px;
  height: 200px;
}

.service .btn{
  color: white;
  background-color:rgb(128, 0, 64);
}