.navber{
    background-color: 	rgb(128, 0, 64);
}
.title-logo h6{
    
}

.title-logo h6::first-letter{
   font-size: 150%;
   font-weight: bolder;
  color: rgb(28, 2, 15)
}

.title-logo h6 span::first-letter{
   font-size: 200%;
  color: #ea2d1c;
}